<%= form_for(@org) do |f| %>
  <% if @org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@org.errors.count, "error") %> prohibited this org from being saved:</h2>

      <ul>
      <% @org.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%#= f.label :password %><br>
    <%#= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success btn-mini" %>
    <%= link_to 'Cancel', @org, :class => "btn btn-danger" %>
  </div>
<% end %>
