<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">Organizations</li>
  </ol>
</div>

<div class="container">
  <h1>
    Listing organizations
    <a href="<%= new_org_path %>" class="btn btn-success"> <span class="glyphicon glyphicon-upload"></span>
      Create new organization</a>
  </h1>


  <% if @orgs.empty? %>
      <p>

      <div class="alert alert-warning">
        Currently no organization are created with the system.
      </div>
      </p>
  <% else %>
      <div class="media">
        <table class="table table-hover">

          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Detail</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% i = 1 %>
          <% @orgs.each do |org| %>
              <tr>
                <td><%= i %></td>
                <td><%= org.title %></td>
                <td><%= org.detail %></td>

                <% if session[:org_id] == org.id.to_s %>

                    <td><%= 'Logged-in' %></td>

                <% else %>

                    <td><%= link_to 'Login', login_as_org_path(org.id), :method => :post %></td>

                <% end %>

                <td><%= link_to 'Show', org, :class => "btn btn-xs btn-default" %></td>
                <td><%= link_to 'Edit', edit_org_path(org), :class => "btn btn-xs btn-warning" %></td>
                <td><%= link_to 'Destroy', org, method: :delete, :class => "btn btn-xs btn-danger", data: {confirm: 'Are you sure?'} %></td>
              </tr>
              <% i = i + 1 %>
          <% end %>


          </tbody>
        </table>
      </div>
  <% end %>
</div>