<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Results application connectors', results_app_connectors_path %></li>
    <li><%= link_to 'Results application connector', results_app_connector_path(@results_app_connector) %></li>
    <li class="active">New input file</li>
  </ol>
</div>

<%= render 'results_app_connectors/info' %>

<div class="container">
  <h2>New results application connector input file</h2>
  <%= render 'form' %> <!--Form from _form.html.erb-->
</div>
