<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Analytic plugins', analytics_path %></li>
    <li><%= link_to 'Analytic plugin', analytic_path(@analytic)%></li>
    <li class="active">Analytic input stream</li>
  </ol>
</div>

<%= render 'analytics/info' %>

<%= render 'info' %>
