<div class="container">
  <h2>
    Input parameter information
  </h2>
  <p>
    <strong>Parameter type:</strong>
    <%= @results_app_input_parameter.results_app_connector_parameter.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @results_app_input_parameter.results_app_connector_parameter.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= @results_app_input_parameter.value %>
  </p>

  <p>
    <%= link_to 'Input Parameter List', results_app_path(@results_app), class: 'btn btn-xs btn-default'%> |
    <%= link_to 'Edit', edit_results_app_results_app_input_parameter_path(@results_app,@results_app_input_parameter), class: 'btn btn-xs btn-warning' %>
  </p>
</div>