<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Results applications', results_apps_path %></li>
    <li><%= link_to 'Results application', results_app_path(@results_app)%></li>
    <li class="active">Results application input parameter</li>
  </ol>
</div>

<%= render 'results_apps/info' %>

<div class="container">
  <h2>New results application input parameter</h2>
  <%= render 'form' %>
</div>

<!--<h1>New results_app_input_parameter</h1>

<%# render 'form' %>

<%# link_to 'Back', results_app_input_parameters_path %>-->
