<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Result text</th>
      <th>Location</th>
      <th>Timestamp</th>
      <th>Analytic instance</th>
      <th>Analytic</th>
      <th>Vms</th>
      <th>Camera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.result_text %></td>
        <td><%= result.location %></td>
        <td><%= result.timestamp %></td>
        <td><%= result.analytic_instance %></td>
        <td><%= result.analytic %></td>
        <td><%= result.vms %></td>
        <td><%= result.camera %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
