<%= form_for(@analytic_instance) do |f| %>
  <!--Report errors if any-->
  <% if @analytic_instance.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@analytic_instance.errors.count, "error") %> prohibited this analytic_instance from being saved:</h2>

      <ul>
      <% @analytic_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--Form fields-->
  <div class="field">
    <%= f.label :analytic_id, 'Analytic Type'%><br>
    <%= f.collection_select( :analytic_id, Analytic.where(verified: true), :id, :name, {prompt: 'Select Analytic Type'}, {:disabled => params[:action]=="edit"})%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <!--Submit button-->
  <p>
  <div class="actions">
    <%= f.submit class: "btn btn-success btn-mini"%>
    <%= link_to 'Cancel', @analytic_instance, :class => "btn btn-danger" %>
  </div>
  </p>
<% end %> <!--Form ends-->

