<%= form_for(@analytic_server) do |f| %>
  <% if @analytic_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analytic_server.errors.count, "error") %> prohibited this analytic_server from being saved:</h2>

      <ul>
      <% @analytic_server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <br>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
    <br>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.text_field :port %>
  </div>
    <br>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
    <br>
  <div class="field">
    <%= f.label :pid %><br>
    <%= f.text_field :pid %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit "Save analytic server"  , :class => "btn btn-success btn-mini" %>
    <%= link_to 'Cancel', :back, :class => "btn btn-danger" %>
  </div>
<% end %>
