<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">Analytic servers</li>
  </ol>
</div>

<div class="container">

<h1>Listing analytic_servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th>Port</th>
      <th>Status</th>
      <th>Pid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analytic_servers.each do |analytic_server| %>
      <tr>
        <td><%= analytic_server.name %></td>
        <td><%= analytic_server.ip %></td>
        <td><%= analytic_server.port %></td>
        <td><%= analytic_server.status %></td>
        <td><%= analytic_server.pid %></td>
        <td><%= link_to 'Show', analytic_server , :class => "btn btn-xs btn-default" %></td>
        <td><%= link_to 'Edit', edit_analytic_server_path(analytic_server), :class => "btn btn-xs btn-warning" %></td>
        <td><%= link_to 'Destroy', analytic_server, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger", data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analytic server', new_analytic_server_path %>

</div>