<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'VMSes', vmses_path %></li>
    <li class="active">VMS</li>
  </ol>
</div>

<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @analytic_server.name %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= @analytic_server.ip %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= @analytic_server.port %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @analytic_server.status %>
  </p>

  <p>
    <strong>Pid:</strong>
    <%= @analytic_server.pid %>
  </p>

  <%= link_to 'Edit', edit_analytic_server_path(@analytic_server) %> |
  <%= link_to 'Back', analytic_servers_path %>
</div>
