

  <h3>Analytic Input Stream Information:</h3>

  <div class="panel-body">
    <div class="media">
      <div class="media-body col-sm-12">
        <p>
          <strong>Analytic instance:</strong>
          <%= @analytic_instance_stream.analytic_instance.name %>
        </p>

        <p>
          <strong>Analytic input stream:</strong>
          <%= @analytic_instance_stream.analytic_input_stream.name %>
        </p>

        <p>
          <strong>Stream:</strong>
          <%= @analytic_instance_stream.stream.name %>
        </p>

        <%= link_to 'Edit', edit_analytic_instance_analytic_instance_stream_path(@analytic_instance,@analytic_instance_stream), class: 'btn btn-xs btn-warning' %> |
        <%= link_to 'Input Stream List', analytic_instance_path(@analytic_instance), class: 'btn btn-xs btn-default'%>
      </div>
    </div>
  </div>
