<%= form_for([@results_app, @results_app_input_file]) do |f| %>
  <% if @results_app_input_file.errors.any? %>
    <div id="error_explanation", class="alert alert-danger" role="alert">
      <h2><%= pluralize(@results_app_input_file.errors.count, "error") %> prohibited this results_app_input_file from being saved:</h2>

      <ul>
      <% @results_app_input_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%
    input_file_ids = @results_app.results_app_input_files.select(:results_app_connector_file_id)
    remainig_files = @results_app.results_app_connector.results_app_connector_files.where.not(id: input_file_ids)
    if !@results_app_input_file.new_record?
      remainig_files.push(@results_app_input_file.results_app_connector_file)
    end
  %>

    <!--Form fields-->
  <p>
   <div class="field">
      <%= f.label :results_app_connector_file_id, "Results application input file type*"%><br>
      <%# f.collection_select( :results_app_connector_file_id, @results_app.results_app_connector.results_app_connector_files, :id, :name, {prompt: 'Select Input File Type'})%>
      <%= f.collection_select( :results_app_connector_file_id, remainig_files, :id, :name, {prompt: 'Select Input File Type'})%>
    </div>
  </p>
  <p>
    <div class="field">
      <%= f.label  'Results application input file*'%><br>
      <%= f.file_field :filename%>
    </div>
  </p>

  <!--Submit button-->
  <p>
    <div class="actions">
      <%= f.submit class: "btn btn-success btn-mini"%>
      <%= link_to 'Cancel', @results_app, :class => "btn btn-danger" %>
    </div>
  </p>
<% end %> <!--Form ends-->
