<p id="notice"><%= notice %></p>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Results applications', results_apps_path %></li>
    <li><%= link_to 'Results application', results_app_path(@results_app) %></li>
    <li class="active">Results application input file</li>
  </ol>
</div>

<div class="container">
  <%= render 'results_apps/info' %>
  <%= render 'info' %>
</div>

<!--<%# link_to 'Edit', edit_results_app_input_file_path(@results_app_input_file) %> |
<%# link_to 'Back', results_app_input_files_path %>-->
