<h1>Listing results_app_connector_parameters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Required</th>
      <th>Editable</th>
      <th>Description</th>
      <th>Results app connector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results_app_connector_parameters.each do |results_app_connector_parameter| %>
      <tr>
        <td><%= results_app_connector_parameter.name %></td>
        <td><%= results_app_connector_parameter.required %></td>
        <td><%= results_app_connector_parameter.editable %></td>
        <td><%= results_app_connector_parameter.description %></td>
        <td><%= results_app_connector_parameter.results_app_connector %></td>
        <td><%= link_to 'Show', results_app_connector_parameter %></td>
        <td><%= link_to 'Edit', edit_results_app_connector_parameter_path(results_app_connector_parameter) %></td>
        <td><%= link_to 'Destroy', results_app_connector_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Results app connector parameter', new_results_app_connector_parameter_path %>
